/**
 * 
 */

	.nav-tab.active {
		color:#000;
		background-color:#fff;
	}
	
	.page-contents {
		padding:1em 0em;
	}
	
	.position-controller {
		display:block;
		clear:both;
		text-align:center;
		border:solid 1px #000;
		background-color:#fff;
		padding:0px 5px;
	}
	
	.position-controller > div {
		display:inline-block;
		width:20%;
		height:30px;
		border:solid 1px #ccc;
		background-color:#eee;
		margin:10px 5px;
		cursor:pointer;
	}
	
	.position-controller > div.selected {
		border:solid 1px #000;
	}
	
	.position-controller > div:hover {
		background-color:#ffc;
	}
	
	.position-controller .hleft {
		float:left;
	}

	.position-controller .hright {
		float:right;
	}
	
	.position-controller > div.selected {
		background-color:#000;
	}
	
	.top-submit {
		float:right;
	}
	
	input.no-border {
		border:none;
		outline:none;
		box-shadow:none;
		background:transparent;
	}
	
	.filter-form {
		min-width:50%;
		max-width:100%;
	}
	
	.filter-boxes > div {
		width:300px;
		display:inline-block;
	}
	
	.filter-form button {
		margin:5px;
		margin-left:0;
	}
	
	.filter-boxes {
		clear:both;
	}
	
	.filter-form .scroll-box {
		height:100px;
		border:solid 1px #ccc;
		padding:5px;
		overflow-x:hidden;
		overflow-y:scroll;
	}
	
	.filter-form .scroll-box .item {
		display:block;
		white-space:nowrap;
	}
	
	.errors-checkbox {
		padding:0.5em 0em;
	}
	
	a.export {
		float: left;
		margin-top: -0.5em;
		padding-top: 1em;
	}
	
	h4 {
		margin-bottom:0.2em;
	}
	
	button.process-user {
		margin:1em 0em;
	}
	
	p.exception {
		color:red;
	}
	
	p.error {
		color:orange;
	}
	
	.details-box {
		border:solid 1px #999;
		padding:1em;
	}
	
	.details-box > p {
		margin-top:0;
	}
	
	.details-box > div {
		display:inline-block;
		margin-right:1em;
	}

	.details-box > div > label {
		display:inline-block;
		vertical-align:baseline;
		padding-right:0.3em;
		font-weight:bold;
		border-right:solid 1px #ccc;
	}

	.details-box > div > span {
		display:inline-block;
		vertical-align:baseline;
		padding-left:0.3em;
	}

	.details-box .buttons {
		margin:0;
		margin-top:1em;
		padding-top:1em;
		border-top:solid 1px #ccc;
		text-align:right;
		display:block;
	}
	
	.details-box .buttons a {
		float:left;
	}

	
	.buttons button {
		margin-left:0.5em;
	}
	
	form.upload {
		padding:1em;
		margin-bottom:2em;
		border:dotted 1px #ccc;
	}
	
	form.upload h4 {
		margin-top:0;
	}
	
	form.upload p.submit {
		margin:0; padding:0;
		text-align:right;
	}
	
	#users-table {
		margin-top:2em;
	}
	
	#users-table .user-exception {
		color:red;
	}
	
	#users-table > table {
		white-space: nowrap !important;
		width: auto !important;
		min-width:100% !important;
		table-layout: auto !important;
	}
	
	#users-table > table td,
	#users-table > table th {
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	
	table.orghub-sites td.processing {
		color:#c60;
	}
	
	.filters .title {
		display:inline-block;
		min-width:10em;
	}
	
	.filters select {
		min-width:10em;
	}
	
	table.orghub-sites tr.archived {
		background-color:#dcc;
	}
	
	table.orghub-sites tr.deleted {
		background-color:#c99;
	}
	
	